extends template/layout.pug

block styles        
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block contents
    main
        form.product-form(action="/admin/add-product" method="POST")
            div.form-control
                label(for="title") Title
                input(type="text", name="title", id="title")
            div.form-control
                label(for="price") Price
                input(type="text", name="price", id="price")
            div.form-control
                label(for="description") Description
                textarea(rows="5", cols="40", type="text", name="description", id="description")
            button.btn Add Product