</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/product">Product</a></li>
                <li class="main-header__item"><a href="/cart">Cart</a></li>
                <li class="main-header__item"><a href="/order">Order</a></li>
                <li class="main-header__item"><a href="/Admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/Admin/product">Product</a></li>
            </ul>
        </nav>
    </header>